$font:                Helvetica, sans-serif; 
$font-header-weight:  800;
$font-color:          #222;
$font-alert-weight:   800;

$success-color:       #4EA862;
$warning-color:       #E3962B;
$error-color:         #D72C16;

$shadow-color:        rgba(0,0,0,.2);